body {
  
    font-family: 'Helvetica',;
    font-size: 24px;
    text-align: center;
}

header {
    color: rgb(128, 100, 128);
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    font-size: 52px;
    padding-bottom: 10px;
    font-style: bold;
}

footer {
    color: rgb(128, 100, 128);
    font-style: italic;
    text-align: center;
    font-size: 5px;
    padding-bottom: 10px;
    font-style: bold;
}

caption {
    margin: 2px;
    text-align: left;
}

.main {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    object-fit: contain;
}


table {
    background-color: rgb(128, 100, 128);
    border-collapse: collapse;
    margin: auto;
    color: #000;
}

footer {
    position: relative;
    font-size: 12px;
    padding: 1px;
    bottom: 0;
    height: 2.5rem;
}

.encadrer-un-contenu {
    border: 1px solid;
    color: rgb (50, 81, 108);
    padding: 5px;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    color: rgb(128, 100, 128);
}

.premiereLigne {
    padding: 20px;
    margin: 20px;
    color: rgb(128, 100, 128);
    text-align: center;
    font-size: 56px;
}

.img{
    padding: 10px;
    border-radius: 24px;   
}

.Article {
    background-color: rgb(246, 242, 246);
    padding: 10px;
    border-radius: 24px;
    font-family: "bASKERVILLE",serif;
    color: rgb(26, 5, 22);
    box-sizing: border-box;
}

.barremenu {
    display: flex;
    background-color: rgb(203, 193, 203);
    color: rgb(19, 20, 20);
    gap: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    border-radius: 25px;
    font-family: "Lucida Handwriting", cursive;
    font-size: 20px;
    box-sizing: border-box;
    margin: auto;
}

/*  tester sur test2*/

nav a:hover{
    background-color:#a775a2;
    border-radius: 5px;
    color: #fff;
    transform: scale(1.05);
    display: block;
}

.sous{
    display:none;
}

.show{
    display:inherit;
}

.rowPageIndex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.columnPageIndex {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
}

.contentPageIndex {
    width: 600px;
    height: 200px;
    padding: 15px;
    color: #562454;
    margin: 10px 0;
   
    border-radius: 25px;
    background: rgb(246, 242, 246);
}

.presentationPageIndex {
    width: 300px;
    height: 500px;
    margin: 10px;
   
    border-radius: 25px;
    padding: 15px;
    color: #562454;
    font-size: 25px;
    background: rgb(246, 242, 246);
}

.contactPageIndex {
    font-size: 25px;
    color: #562454;
    font-weight: bold;
   
    padding: 25px;
    border-radius: 25px;
    background: rgb(246, 242, 246);
}
.box{
    background-color: rgb(203, 193, 203);
    padding: 10px;
    font-family: "Lucida Handwriting", cursive;
    color: rgb(26, 5, 22);
    box-sizing: border-box;
}
a {
    color: #562454;
}

a:visited {
    color: #562454;
}


.barreFB {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Lucida Handwriting", cursive;
    font-size: 20px;
}


